/* BUTTONS 
-------------------- */
body .site-btn {
    padding: 15px 26px;
    color: #fff;
    border-radius: 4px;
    background-color: @red;
    font-weight: 300;
    text-transform: capitalize;
    display: inline-block;
    -webkit-transition: 	0.3s background-color;
    -moz-transition: 		0.3s background-color;
    -o-transition: 			0.3s background-color;
    transition: 			0.3s background-color;
}	
body .site-btn:hover, body .site-btn:focus {
	text-decoration: none;
	background-color: #1f1f1f !important;
}
body .banner .site-btn {
	font-size: 1.4em;
}
