/*
    Different from English version
*/


/* MINITEK WALL
-------------------- */
/* search box */
.mnwall_iso_filters{
    .search_filter #txtsearch {
        background-color: #000;
        font-weight: 300;
        color: #777;
        border: none;
        border-radius: 0;
        margin-bottom: -2px;
        min-width: 97%;
        border: 1px solid #777;
        padding:.5rem;
        &:focus{
            border-bottom: #d1043b solid 1px;
        }
    }
}
.mnwall_container {
    display: block;
    float: left;
    width: 100%;
    .mnwall-item{ //override for all
        top: 0 !important;
        left: 0 !important;
        transform: none !important;
    }
    .mnwall-item-inner-cont, 
    .mnwall-item-inner-cont .mnwall-cover, 
    .mnwall-item-inner-cont .mnwall-img-div {
        height: 100%;
        position: relative;
        overflow: hidden;
    }
    .mnwall-item-inner {
        padding:0px !important;
        z-index: 2;
        height: 100%;
        .mnwall-item-coverlink {
            position: absolute;
            top:0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
}

.mnwall_iso_container{
    margin:0px !important;
    height: auto !important;
    .mnwall-item{
        h3.mnwall-title {
            font-size: 1em !important;   
        }
        .mnwall-item-img{
            background-color: @black;
            margin: 0% -1%;
            a {
                z-index: 1;
                display: block;
                width: 100%;    
                height: 100%;
                opacity: 0.9;
                transition: 0.5s opacity, 8s transform;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;   
                img {
                    height: auto;
                }
            }
            .corner-icon{
                color: #fff;
                position: absolute;
                height: 18px;
                width: 18px;    
                z-index: 2;
                right: 0px;
                bottom: 0px;
                opacity: 0;
                transition: 0.3s opacity, 0.3s transform;
                .corner-bit {
                    background-color: #fff;
                    display: inline-block;
                    float: right;
                    &.corner-top {
                        width: 3px;
                        height: 15px;
                    }
                    &.corner-bottom {
                        height: 3px;
                        width: 18px;
                    }
                }
            }
        }
        &:hover{
            .mnwall-item-img a {
                opacity: 0.4;
                transform: scale(1.1);
            }
            .mnwall-item-img .corner-icon {
                transform: translate(-19px, -19px);
                opacity: 0.9;
            }
        }
    }
    //override for features.css
    &#mnwall_iso_container_26 .mnwall-photo-link{
        height: 100% !important; 
    }
}
.mnwall-columns .content-bottom .mnwall-item-inner {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 100%;
}
.mnwall_iso_buttons a {
    font-size: 1.4em;
}

//override for crazy media query
#mnwall_iso_container_1 a.mnwall-photo-link{
    height: 100% !important; 
}
body #t3-mainbody .mnwall_iso_container .mnwall-item {
    float: left !important;
    display: inline-block;
    padding: 0px !important;
    cursor: pointer;
    height: auto !important;
}
//end


/* home sections
--------------- */
body #t3-mainbody .mnwall_container{
    &.home-sections{
        .mnwall-item {
            width: 50% !important;
            padding-top: 250px !important;
            position: relative !important;
            &:first-of-type {
                width: 100% !important;
                .mnwall-item-img a {
                    background-position: 0 80%;
                }
            }
            .mnwall-item-outer-cont {
                position: absolute;
                top:0;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }
        .mnwall-item-inner {
            display: table !important;
            padding: 0 !important;
            .mnwall-title {
                display: table-cell !important;
                vertical-align: middle;
                padding:0;
                a {
                    text-transform: capitalize !important;
                    font-size: 3em;
                    color: #fff !important;
                    font-weight: 300;
                    display: inline-block;
                    margin-left: 50px;
                    margin-right: 50px;
                    height: auto;
                }
            }
        }
        .pano_link {
            position: absolute;
            left: 55px;
            bottom: 20px;
            height: auto;
            color: #fff;
            font-size: 1.8em;
            font-weight: 100;
        }
    }


/* subpage list
--------------- */

    &.subpage-list,
    &.news-list{
        .mnwall-item {
            width: 33.333333% !important;
            position: relative !important;
        }
    }
    &.subpage-list .mnwall-item {
        padding-top: 360px !important;
        .mnwall-item-outer-cont {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
    &.home-sections,
    &.subpage-list{
        .mnwall-cover{
            height: 100%;
            div{
                height: 100%;
            }
        }
    }
    &.subpage-list .mnwall-item-inner {
        display: table !important;
        .mnwall-title {
            display: table-cell !important;
            vertical-align: middle;
            padding:0px 50px;
            line-height: 150%;
            text-shadow: 1px 1px 1px black;
            a {
                text-transform: capitalize !important;
                font-size: 3em !important;
                line-height: 1em !important;
                color: #fff !important;
                font-weight: 300;
                display: inline-block;
                height: auto;
            }
        }
    }
}

/* News list */
#t3-mainbody .mnwall_container{
    // .mnwall-item{ //override for all
    //     top: 0 !important;
    //     left: 0 !important;
    //     transform: none !important;
    // }
   &.news-list{
        .mnwall-cover, 
        .mnwall-cover div {
            height: 325px;
        }
        .mnwall_iso_container{
            .mnwall-item{
                .mnwall-item-inner {
                    background-color:rgba(255,255,255,0.00);
                    transition: 0.5s background-color;
                }
                &:hover .mnwall-item-inner {
                    background-color:rgba(255,255,255,0.05) !important;
                }
            }
        }
        .mnwall-item-inner{
            .mnwall-title {
                padding:19px 19px 10px;
                position: relative;
                a {
                    text-transform: capitalize !important;
                    font-size: 2em;
                    color: #fff !important;
                    font-weight: 300;
                    display: block;
                    overflow: hidden;
                    padding-right: 100px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    line-height: 24px;
                }
                .mnwall-date {
                    position: absolute;
                    right: 0px;
                    top: 10px;
                    color: #b7b7b7;
                    font-size: 1.6em;
                    text-transform: uppercase;
                    padding: 10px 15px 0;
                    line-height: 24px;
                }
            }
            .mnwall-desc {
                padding: 0px 19px 50px;
                font-size: 1.6em;
                color: rgba(184, 184, 184, 0.6) !important;
                line-height: 1.4em;
            }    
        }
        // .mnwall-item .mnwall-item-img a {
        //     opacity: 0.6;
        // }
    }
}
.news-list{
    .mnwall_iso_filters_cont{
        width: 100%;
        padding: 0 4%;
        margin: 0;
        display: inline-block;
        position: relative;
        overflow: hidden;
        &:after{
            font-family: fontawesome;
            content: "\f0ec";
            font-size: 1rem;
            position: absolute;
            right: 2%;
            bottom: 35px;
            z-index: 2;
            color: @border-color;
        }
    }
}

/* VIDEO LIST
-------------------- */
.video-list .ug-theme-tilesfixed .ug-thumb-wrapper {
    width: 50% !important;
    position: relative !important;
    float: left !important;
    left: 0px !important;
    top: 0px !important;
    padding-top: 23% !important;
    height: auto !important;
}
.ug-tile .ug-textpanel-title {
    position: static !important;
    padding: 19px;
    .ug-textpanel {
        height: auto !important;
    }
}


/* PRESS COVERAGE LIST
-------------------- */
.press-coverage-list .ug-theme-tilesfixed .ug-thumb-wrapper {
	width: 16.66666666% !important;
	position: relative !important;
    float: left !important;
    left: 0px !important;
    top: 0px !important;
    padding-top: 23% !important;
    height: auto !important;
} 

/* BANNERS 
-------------------- */
.bannergroup {
	padding:19px;
    .banneritems{
    	font-size: 0;
    }
    .banneritem{
        display: inline-block;
        position: relative;
        width: 110px;
        padding-top: 7.142%;
        .bannerimg {
        	height: 100%;
            display: block;
            position: absolute;
            top: 50%;
            left: 10px;
            right: 10px;
            opacity: 1;
            img {
            	max-width: 100%;
            	max-height: 100%;
                transform: translateY(-50%);
            }
        }
    }
}
.mainbody-bottomblocks .bannergroup {
    padding: 19px 50px;	
}


/* SCHEDULE -- where is this??
-------------------- */
// .rl_tabs-responsive, .rl_tabs, .rl_tabs>ul.nav-tabs>li {
// 	margin-bottom: 0px !important;
//     background-color: #fff;
// }
// .mainbody-bottomblocks .block-inner > .schedule-list {
// /* 	padding-right:50px; */
// 	padding-top:0px;
// }
// .schedule-list .nav-tabs {
// 	background-color: #fff;
//  	padding:0px 50px; 
// 	border:none !important;
// }
// .schedule-list .nav-tabs li {
//     text-align: left;
// }
// .schedule-list .nav-tabs li a {
//     display: inline-block;
//     padding: 25px 19px;
//     margin: 0px;
//     border: none !important;
//     height: auto;
//     font-size: 1.6em;
//     line-height: 150%;
//     text-decoration: none;
//     box-shadow: none !important;
// }
// .schedule-list .nav-tabs li:first-of-type a {
// 	padding-left: 0px;
// }
// .schedule-list .nav-tabs li a span {
//     color: #000;
// }
// .schedule-list .nav-tabs li.active a span {
//     color: @red;
// }
// .schedule-list .tab-content {
// 	border: none !important;
// }
// .schedule-list .tab-content .tab-pane {
// 	padding:0px !important;
// 	border-top: 1px solid #e4e4e4;
// }
// .schedule-list .tab-content .jux-tl-item { 
//     border-bottom: 1px solid #e4e4e4;
//     padding: 19px 50px;
//     background-color: #fff;
// }
// .schedule-list .tab-content .jux-tl-item .jux-tl-time {
// 	margin-bottom: 5px;
// }
// .schedule-list .tab-content .jux-tl-item .jux-tl-title {
// 	color: #000;
// }
// .schedule-list .tab-content .jux-tl-item .jux-tl-desc strong {
//     color: @red;	
//     margin-top: 19px;
//     display: inline-block;
// }



/* exhibitor list
--------------- */
.exhibitor-list{
   padding-top: 30px;
 }

/* scroller icon for lists*/
.scroll-wrapper {
  padding: 8px 0 0;
    &:after {
      font-family: fontawesome;
      content: "\f0ec";
      position: absolute;
      top: 57%;
      font-size: 1rem;
      right: 0;
      z-index: 2;
      color: #777;
    }
}

/* hide link through
--------------- */
.mnwall_container.speakers-list .mnwall-photo-link {
    background-position: center center;
    background-size: cover;
}


/* halls subpage list
--------------- */
.itemid-130 body #t3-mainbody  .mnwall_container.subpage-list .mnwall-item:nth-child(1), .itemid-130 body #t3-mainbody  .mnwall_container.subpage-list .mnwall-item:nth-child(2) {
    width: 50% !important;
}

/* press subpage list
--------------- */
.itemid-195 body #t3-mainbody  .mnwall_container.subpage-list .mnwall-item:nth-child(4), .itemid-195 body #t3-mainbody  .mnwall_container.subpage-list .mnwall-item:nth-child(5) {
    width: 50% !important;
}
.itemid-195 body #t3-mainbody  .mnwall_container.subpage-list .mnwall-item .mnwall-item-img a {
    opacity: 0.6;
}

/* features subpage list
--------------- */
.itemid-176 body #t3-mainbody  .mnwall_container.subpage-list .mnwall-item {
    width: 50% !important;
}
/* Xintiandi Festival subpage list
--------------- */
.itemid-249 body #t3-mainbody  .mnwall_container.subpage-list .mnwall-item {
    width: 50% !important;
}


