
@red: #d0043c;
@white: #fff;
@black: #000;
@background-dark: #141414;
@border-color: #777;
@footer-text-color: #999;
@footer-background:#000;

@screen-sm-max: 600;

.screen-sm-max(@rules) {
    @media (max-width: @screen-sm-max) { @rules(); }
}